.group-colour {
	color: #0076b1;
}
.group-outline {
	border: solid #0076b1;
	padding: 1px 1px 0 3px;
	font-size: 11px;
}
.group-left {
	padding: 3px 0 0 3px;
	text-decoration: none;
}
.group-rank {
	float: left;
	width: 49%;
}
.group-right {
	float:right;
	width: 49%;
}
.group-members {
	display: block;
	padding-top: 3px;
	padding-left: 10px;
}
.group-leaders {
	display: block;
}