<!-- INCLUDE overall_header.html -->
<style type="text/css">
.group-colour {
	color: #0076b1;
}
.group-outline {
	border: solid #0076b1;
	padding: 1px 1px 0 3px;
	font-size: 11px;
}
.group-left {
	padding: 3px 0 0 3px;
	text-decoration: none;
}
.group-rank {
	float: left;
	width: 49%;
}
.group-right {
	float:right; 
	width: 49%;
}
.group-members {
	display: block;
	padding-top: 3px;
	padding-left: 10px;
}
.group-leaders {
	display: block;
}
</style>
<h2>{L_GROUP_TITLE}</h2>

<p>{L_GROUPS_TEXT}</p>

<!-- BEGIN groups -->
<br />
<div class="group-outline"<!-- IF groups.GROUP_COLOUR --> style="border: solid #{groups.GROUP_COLOUR};"<!-- ENDIF -->>

	<div class="group-left">
		<h2 style="margin-top: 0;"><a href="{groups.U_VIEW_GROUP}" style="<!-- IF groups.GROUP_COLOUR --> color: #{groups.GROUP_COLOUR};<!-- ENDIF -->" title="{groups.GROUP_NAME}">{groups.GROUP_NAME}</a></h2>
		<p class="group-rank">
				{groups.RANK_IMG}
				{groups.GROUP_RANK}<br />
				{groups.GROUP_DESC}
		</p>
	</div>

	<div class="group-right">
		<!-- BEGIN leaders -->
			<span class="group-leaders"<!-- IF groups.leaders.S_LAST_ROW --> style="border-bottom: 1px dotted <!-- IF groups.GROUP_COLOUR -->#{groups.GROUP_COLOUR}<!-- ENDIF -->;"<!-- ENDIF -->><strong>&raquo;</strong> {groups.leaders.U_VIEW_PROFILE}</strong></span>
		<!-- BEGINELSE -->
			<span class="group-leaders" style="border-bottom: 1px dotted <!-- IF groups.GROUP_COLOUR -->#{groups.GROUP_COLOUR}<!-- ENDIF -->;">{L_NO_LEADERS}</span>
		<!-- END leaders -->			
		<!-- BEGIN members -->
			<span class="group-members">{groups.members.U_VIEW_PROFILE}</span>		
		<!-- BEGINELSE -->
			<span class="group-members">{L_NO_MEMBERS}</span>
		<!-- END members -->
	</div>

	<div style="clear: both;">&nbsp;</div>
</div>
<br /> 
<!-- END groups -->

<!-- INCLUDE overall_footer.html -->
